body{
    font-family: sans-serif;
}

.game-board {
    background-color: burlywood;
    position: relative;
    padding: 0;
}

.game-board > div {
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    font-size: 60;
    background-color: lavender;
}

.game-board > div.v2{
    background-color: aliceblue;
}

.game-board > div.v4{
    background-color: antiquewhite;
}

.game-board > div.v8{
    background-color: bisque;
}

.game-board > div.v16{
    background-color: darksalmon;
}

.game-board > div.v32{
    background-color: coral;
}

.game-board > div.v64{
    background-color: goldenrod;
}

.game-board > div.v128{
    background-color: gold;
    font-size: 40;
}

.game-board > div.v256{
    background-color: darkorange;
    font-size: 40;
}

#popup{
    background-color: gray;
    text-align: center;
    font-size: 40px;
    color: red;
}
/*-------------------------------------------------*/

#status{
    display: flex;
    color: darkblue;
    margin-bottom: 2px;
}

.new-game{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    background-color: blanchedalmond;
    font-weight: bold;
    line-height: 60px;
    width: 120px;
}

.new-game:hover{
    background-color: darksalmon;
}

.score-board{
    background-color: burlywood;
    font-size: 25px;
    width: 120px;
    height: 60px;
    text-align: center;
}

/*-------------------------------------------------*/

#instruction{
    margin-top: 20px;
}

/*-------------------------------------------------*/

#about{
    font-size: small; 
    text-align: center;
}